---
import data from "@data/priceCardData.json";

import BaseLayout from "@layouts/BaseLayout.astro";

import Heading from "@components/Heading.astro";
import PriceCard from "@components/PriceCard.astro";

export type Card = {
	tier: string;
	most_popular: boolean;
	amount_per_month: number;
	title: string;
	description: string;
	btn_text: string;
	features: {
		title: string;
		checked: boolean;
	}[];
};

const title = "Módulo 2";
const description = "Componentes de Astro";
---

<BaseLayout
	{title}
	{description}
>
	<Heading
		tagName="h1"
		size="h1"
		align="center"
		id="title"
		aria-label="title"
	>
		{title}
		<p slot="subtitle">{description}</p>
	</Heading>
	<section class="flex justify-center flex-wrap gap-8">
		{data.map((card: Card) => <PriceCard data={card} />)}
	</section>
</BaseLayout>
