---
import { twMerge } from "tailwind-merge";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
	imageSrc: string;
	imageAlt: string;
	category: "technology" | "popular" | "design";
	title: string;
	description: string;
	headshotSrc: string;
	headshotAlt: string;
	name: string;
	date: string;
}

const {
	imageSrc,
	imageAlt,
	category,
	title,
	description,
	headshotSrc,
	headshotAlt,
	name,
	date,
} = Astro.props;

const catColor = {
	technology: "bg-sky-500",
	popular: "bg-rose-500",
	design: "bg-amber-500",
};
---

<div class="bg-white rounded-xl overflow-hidden shadow w-full max-w-sm">
	<div class="h-48 sm:h-40 md:h-32 lg:h-44 xl:h-48">
		<Image
			src={imageSrc}
			alt={imageAlt}
			inferSize={true}
			class="w-full h-full object-cover"
		/>
	</div>
	<div class="p-4 gap-4">
		<div class="space-y-2">
			<p
				class:list={twMerge([
					catColor[category],
					"text-white rounded-3xl uppercase text-xs px-4 py-1 inline-block",
				])}
			>
				{category}
			</p>
			<h2 class="font-bold leading-tight">{title}</h2>
			<p class="text-sm">{description}</p>
		</div>
		<div class="flex gap-2 items-center space-y-8">
			<Image
				src={headshotSrc}
				alt={headshotAlt}
				inferSize={true}
				class="w-10 h-10 rounded-full border-stone-800 border-1"
			/>
			<div>
				<h3 class="font-bold">{name}</h3>
				<p class="text-xs text-stone-600">{date}</p>
			</div>
		</div>
	</div>
</div>
